<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EFMShareExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>ElectrostaticForceMethod.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7637F3E12316D4E800D8B5F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7637F3FB2316D4EE00D8B5F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7637F4062316D4EE00D8B5F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76A5908E236DD1D2002987FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
